<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>
<body class="bg-gray-100">
     <!--Patient details card-->
     <br><br>
     <div class="flex justify-center">
         <div class="w-full max-w-lg bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
             <h1 class="text-xl font-bold mb-4">Add New Doctor</h1>
             <form method="POST">
                 <!-- Thêm hidden tag để bảo mật -->
                 {{ form_add_doctor.hidden_tag() }}
                 
                 <div class="mb-4">
                     <label class="block text-gray-700 text-sm font-bold mb-2" for="firstname">First Name</label>
                     {{ form_add_doctor.firstname(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
                     {% for error in form_add_doctor.firstname.errors %}
                     <p class="text-red-500 text-xs italic">{{ error }}</p>
                     {% endfor %}
                 </div>
                 
                 <div class="mb-4">
                     <label class="block text-gray-700 text-sm font-bold mb-2" for="lastname">Last Name</label>
                     {{ form_add_doctor.lastname(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
                     {% for error in form_add_doctor.lastname.errors %}
                     <p class="text-red-500 text-xs italic">{{ error }}</p>
                     {% endfor %}
                 </div>
                 
                 <div class="mb-4">
                     <label class="block text-gray-700 text-sm font-bold mb-2" for="age">Age</label>
                     {{ form_add_doctor.age(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
                     {% for error in form_add_doctor.age.errors %}
                     <p class="text-red-500 text-xs italic">{{ error }}</p>
                     {% endfor %}
                 </div>
                 
                 <div class="mb-4">
                     <label class="block text-gray-700 text-sm font-bold mb-2" for="gender">Gender</label>
                     {{ form_add_doctor.gender(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
                     {% for error in form_add_doctor.gender.errors %}
                     <p class="text-red-500 text-xs italic">{{ error }}</p>
                     {% endfor %}
                 </div>
                 
                 <div class="mb-4">
                     <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Email</label>
                     {{ form_add_doctor.email(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
                     {% for error in form_add_doctor.email.errors %}
                     <p class="text-red-500 text-xs italic">{{ error }}</p>
                     {% endfor %}
                 </div>
                 
                 <div class="mb-4">
                     <label class="block text-gray-700 text-sm font-bold mb-2" for="address">Address</label>
                     {{ form_add_doctor.address(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
                     {% for error in form_add_doctor.address.errors %}
                     <p class="text-red-500 text-xs italic">{{ error }}</p>
                     {% endfor %}
                 </div>
                 
                 <div class="mb-4">
                     <label class="block text-gray-700 text-sm font-bold mb-2" for="disease">Disease</label>
                     {{ form_add_doctor.disease(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
                     {% for error in form_add_doctor.disease.errors %}
                     <p class="text-red-500 text-xs italic">{{ error }}</p>
                     {% endfor %}
                 </div>

                 <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="specialization">Specialization</label>
                    {{ form_add_doctor.specialization(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
                    {% for error in form_add_doctor.specialization.errors %}
                    <p class="text-red-500 text-xs italic">{{ error }}</p>
                    {% endfor %}
                </div>
                 
                 <div class="mb-4">
                     <label class="block text-gray-700 text-sm font-bold mb-2" for="star">Rating (Stars)</label>
                     {{ form_add_doctor.star(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
                     {% for error in form_add_doctor.star.errors %}
                     <p class="text-red-500 text-xs italic">{{ error }}</p>
                     {% endfor %}
                 </div>
                 
                 <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                     {{ form_add_doctor.submit() }}
                 </button>
             </form>                    
         </div>
     </div>
</body>
</html>
